In [ ]:
#tf-->term frequency
#Idf-->inverse document frequency

In [ ]:
#tf--> no of occurance of t in the Document/
#      total no of terns  in the docunet


#idf-->log (total no of documnets in the corpus)/
#           no of documents with term t in them

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.DataFrame({'text':['people watch campusx' ,'campusx watch campusx' ,'people write comment' ,'campusx write comment'],'output':[1,1,0,0]})
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf= TfidfVectorizer()
tfidf.fit_transform(df['text']).toarray()

array([[0.49681612, 0.        , 0.61366674, 0.61366674, 0.        ],
       [0.8508161 , 0.        , 0.        , 0.52546357, 0.        ],
       [0.        , 0.57735027, 0.57735027, 0.        , 0.57735027],
       [0.49681612, 0.61366674, 0.        , 0.        , 0.61366674]])

In [4]:
print(tfidf.idf_)

[1.22314355 1.51082562 1.51082562 1.51082562 1.51082562]